In [1]:
import pandas as pd
import numpy as np

jumlah_data = 1000  

data = {
    "ID": range(1, jumlah_data + 1),
    "Usia": np.random.randint(18, 65, jumlah_data),
    "Jenis_Kelamin": np.random.choice(["Laki-laki", "Perempuan"], jumlah_data),
    "Pendapatan_Bulanan": np.random.randint(2, 50, jumlah_data),
    "Status_Pekerjaan": np.random.choice(["Pekerja", "Pelajar", "Tidak Bekerja"], jumlah_data),
    "Skor_Kredit": np.random.randint(300, 850, jumlah_data),
    "Jumlah_Transaksi": np.random.randint(0, 100, jumlah_data),
    "Kategori_Belanja": np.random.choice(["Makanan", "Fashion", "Elektronik", "Energi"], jumlah_data),
    "Kepemilikan_Properti": np.random.choice(["Ya", "Tidak"], jumlah_data),
    "Label_Klasifikasi": np.random.choice(["Layak", "Tidak Layak"], jumlah_data)
}

df = pd.DataFrame(data)
print(df.info())
print(df.head())

print("\nJumlah Jenis Kelamin:")
print(df["Jenis_Kelamin"].value_counts())

print("\nJumlah Status Pekerjaan:")
print(df["Status_Pekerjaan"].value_counts())

print("\nJumlah Label Klasifikasi:")
print(df["Label_Klasifikasi"].value_counts())

df.to_csv("dataset_sederhana.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1000 non-null   int64
 1   Usia                  1000 non-null   int32
 2   Jenis_Kelamin         1000 non-null   object
 3   Pendapatan_Bulanan    1000 non-null   int32
 4   Status_Pekerjaan      1000 non-null   object
 5   Skor_Kredit           1000 non-null   int32
 6   Jumlah_Transaksi      1000 non-null   int32
 7   Kategori_Belanja      1000 non-null   object
 8   Kepemilikan_Properti  1000 non-null   object
 9   Label_Klasifikasi     1000 non-null   object
dtypes: int32(4), int64(1), object(5)
memory usage: 62.6+ KB
None
   ID  Usia Jenis_Kelamin  Pendapatan_Bulanan Status_Pekerjaan  Skor_Kredit  \
0   1    63     Laki-laki                  24          Pelajar          788
1   2    21     Laki-laki                  28          Pekerja          767
2   3    60     Perempuan                  39          Pekerja          777
3   4    57     Laki-laki                  16    Tidak Bekerja          808
4   5    40     Laki-laki                  39          Pelajar          460

   Jumlah_Transaksi Kategori_Belanja Kepemilikan_Properti Label_Klasifikasi
0                64          Makanan                   Ya       Tidak Layak
1                82          Makanan                Tidak       Tidak Layak
2                75          Makanan                Tidak       Tidak Layak
3                76           Energi                   Ya       Tidak Layak
4                 8       Elektronik                   Ya             Layak

Jumlah Jenis Kelamin:
Jenis_Kelamin
Perempuan    514
Laki-laki    486
Name: count, dtype: int64

Jumlah Status Pekerjaan:
Status_Pekerjaan
Tidak Bekerja    341
Pekerja          335
Pelajar          324
Name: count, dtype: int64

Jumlah Label Klasifikasi:
Label_Klasifikasi
Tidak Layak    520
Layak          480
Name: count, dtype: int64