In [4]:
name = "BAGAS"
age = 19
addreas,province = "Jl. Benteng","75645666"
scorePython = 80.5
isMarried = False

print("nama :",name)
print("umur:", age)
print("alamat:",addreas)
print("nilai pemrograman :",scorePython)
print("status menikah :", isMarried)

nama : BAGAS
umur: 19
alamat: Jl. Benteng
nilai pemrograman : 80.5
status menikah : False

In [5]:
print("Tipe data <name>",type(name))
print("Tipe data <age>",type(age))
print("Tipe data <addreas>",type(addreas))
print("Tipe data <province>",type(province))
print("Tipe data <scorePython>",type(scorePython))
print("Tipe data <isMarried>",type(isMarried))

Tipe data <name> <class 'str'>
Tipe data <age> <class 'int'>
Tipe data <addreas> <class 'str'>
Tipe data <province> <class 'str'>
Tipe data <scorePython> <class 'float'>
Tipe data <isMarried> <class 'bool'>

In [15]:
#Casting atau Konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")
#Konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool =  bool(age)
print(intToStr,intToFloat,intToBool, sep="-")
#Konversi dari float ke (str,int,bool)
floatToStr = float(scorePython)
floatToInt = float(scorePython)
floatToBool = float(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="-")
#Konversi dari bool ke (int,float,str)
boolToInt = bool(isMarried)
boolToFloat = bool(isMarried)
boolToStr = bool(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

75645666-75645666.0-True
19-19.0-True
80.5-80.5-80.5
False-False-False

In [16]:
city = "Bandung"
lenCity = len(city) 
print(city[0])
print(city[lenCity-1])

B
g

In [17]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal:", desimal)
print("Nilai Desimal dari 0xff", hexa)
print("Nilai Desimal dari 0b1010", biner)
print("Nilai Desimal dari 0o377", octal)
print("================")
print("Nilai Biner dari :",desimal,bin(desimal))
print("Nilai Octal dari :",desimal,oct(desimal))
print("Nilai Hexa dari :",desimal,hex(desimal))

Nilai Desimal: 200
Nilai Desimal dari 0xff 255
Nilai Desimal dari 0b1010 10
Nilai Desimal dari 0o377 255
================
Nilai Biner dari : 200 0b11001000
Nilai Octal dari : 200 0o310
Nilai Hexa dari : 200 0xc8

In [40]:
#Tipe Data Collection

cities = ["Sukabumi", "Bandung", "Bogor", "Cianjur"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Semarang"
print(cities)
print(cities[len(cities)-1][0])

#Tuple
names =("Andi", "Budi" ,"Caca")
print(names)
#names[0] = "Rudi akan menyebabkan error, karena Tuple adalah Imutable"
ListStudent = {
    
}
studentData = {
    "name" : "Dedi",
    "addreass" : {
        "street" : "Cibatu",
        "number" : 21,
        "province" : "west java"
    },
    "hobbies" : ["basket","football"],
    "age" : 15,
    "isMarried" : False
}
studentData = {
    "name" : "Budi",
    "addreass" : {
        "street" : "Caringin",
        "number" : 25,
        "province" : "north java"
    },
    "hobbies" : ["basket","football"],
    "age" : 35,
    "isMarried" : True
}
print(studentData)
print(studentData["addreass"]["province"])

['Sukabumi', 'Bandung', 'Bogor', 'Cianjur']
Sukabumi
Cianjur
['Sukabumi', 'Semarang', 'Bogor', 'Cianjur']
C
('Andi', 'Budi', 'Caca')
{'name': 'Budi', 'addreass': {'street': 'Caringin', 'number': 25, 'province': 'north java'}, 'hobbies': ['basket', 'football'], 'age': 35, 'isMarried': True}
north java

In [41]:
#Casting Dictionary

list_tuple = [("name","dika"),("nilai","")]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [("buah","apel"),("harga","99999")]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = ...
tuple_list = ...

{'name': 'dika', 'nilai': '80'}
{'buah': 'apel', 'harga': '10000'}